.mainPanel {
    display: flex;
    flex-flow: column nowrap;
}
.mainMenu {
    display: flex;
    flex-flow: row nowrap;
}
.mainMenu>div {
    padding: 5px;
    margin: 10px;
    background-color: gray;
}
.contentPanel {
    display: flex;
    flex-flow: row nowrap;
}
.leftMenu {
    display: flex;
    flex-flow: column nowrap;
    width: 120px;
}
.leftMenu>div {
    padding: 5px;
    margin: 10px;
    background-color: gray;
    width: 70%;
    text-align: left;
}
.content {
    flex-grow: 1;
    padding-left: 15px;
    padding-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
div {
    border: 1px solid black;
}
